<%= form_with(model: event_attendee, url: attend_index_path(@event)) do |form| %>
  <% if event_attendee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_attendee.errors.count, "error") %> prohibited this event_attendee from being saved:</h2>

      <ul>
        <% event_attendee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :attendee_id, style: "display: block" %>
    <%= form.text_field :attendee_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
