<%= render @event %>

<p>
  <strong>Registered:</strong>
  <% if @event.attendees.find_by(id: current_user.id) %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p><strong>Attendees:</strong></p>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.id %></li>
  <% end %>
</ul>

<div>
  <% if @event.creator == current_user %>
    <%= link_to "Edit this event", edit_event_path(@event) %> |
  <% end %>

  <% @event_attendee = EventAttendee.find_by(event: @event, attendee: current_user) %>
  <% if @event_attendee %>
    <%= button_to "Deregister from this event", attend_path(attend_id: @event_attendee.id), method: :delete %>
  <% else %>
    <%= button_to "Register for this event", attend_index_path, method: :post %>
  <% end %>

  <%= link_to "Back to events", events_path %>

  <% if @event.creator == current_user %>
    <%= button_to "Destroy this event", @event, method: :delete %>
  <% end %>
</div>
